/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */
#stage {
  background: blue;

  height: 300px;
  width: 600px;
}

button {
  display: flex;
  color: purple;
}

h1 {
  display: flex;
  position: center;
}
